%p#notice= notice

%h1
  = @post.title
  = link_to "[Save to #{@post.title}]", bookmarklet(@post), :title => "Drag this to your Bookmarks, visit the page you want to bookmark, and click it", :class => :bookmarklet

%ol#links.links
  - @post.links.each do |link|
    %li.link
      %span.title= link_to(link.title, link.url) if link.title
      %span.url= link_to(link.url, link.url)
      %span.description= link.description if link.description


= simple_form_for([@post, @link || @post.links.new]) do |f|
  %h2 Add a link
  = f.input :url
  = f.input :title
  = f.input :description, :as => :text, :input_html => { :rows => 3 }
  = f.submit